name: Editorconfig

on:
  push:
    branches:
      - master
      - "moonbeam-**"
  pull_request:
    branches:
      - master
      - "moonbeam-**"
  merge_group:
    branches: master

jobs:
  check:
    name: "Check editorconfig"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker -disable-charset
